modules = ["rust-stable", "postgresql-16"]
run = "cd projects/cast_cli && cargo run"

[nix]
channel = "stable-24_05"
packages = ["unzip", "dioxus-cli", "rustup"]

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "./projects/cahokia/api/artifacts/x86_64-unknown-linux-gnu/api"]
