[application]

[web.app]
# HTML title tag content
title = "Cookbook"

[web.watcher]

[web.resource]
# Additional CSS style files
style = []
# Additional JavaScript files
script = []

[web.resource.dev]
# Javascript code file
# serve: [dev-server] only
script = []
